version: '3.3'
services:
  autoconfigurator:
    image: nginx:alpine
    container_name: ${CONTAINER_NAME}-autoconfig
    ports:
      - "80:80"
    volumes:
      - ./nginx-autoconfig.conf.template:/etc/nginx/templates/default.conf.template
    environment:
      - MAILDOMAIN=${MAILDOMAIN}
      - MAILHOST=${MAILHOST}
    restart: always    